.portfolio-container{
    width: 90vw;
    max-width: 1200px;
    min-height: 400px;
    background: red;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#portfolio-v2{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

#portfolio-V2 .folio-item:hover .overlay {
    background: rgba(0, 0, 0, 0.8);
}

.portfolio-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.portfolio-item{
    display: flex;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio-item-c1-1{
    height: 600px;
    background-image: url(https://source.unsplash.com/vZlTg_McCDo);
}

#portfolio-item-c1-2{
    height: 300px;
    background-image: url(https://source.unsplash.com/-DDt5yLKBN8);
}

#portfolio-item-c2-1{
    height: 900px;
    background-image: url(https://source.unsplash.com/-DDt5yLKBN8);
}

.item-overlay{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
}

/**
 * ===================================================================
 * 13. portfolio - (_layout.scss)
 *
 * -------------------------------------------------------------------
 */
#portfolio-v2 .portfolio-item {
    padding: 0;
    position: relative;
    overflow: hidden;
}
#portfolio-v2 .portfolio-item img {
    vertical-align: middle;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#portfolio-v2 .overlay {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    background: transparent;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#portfolio-v2 .folio-item-table {
    display: table;
    width: 100%;
    height: 100%;
}
#portfolio-v2 .folio-item-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    left: -100%;
}

#portfolio-v2 .folio-title {
    color: #FFFFFF;
    font-size: 3.3rem;
    padding: 0 3rem;
    margin-bottom: 0;
}
#portfolio-v2 .folio-types {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: "poppins-regular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    color: rgba(255, 255, 255, 0.6);
}
#portfolio-v2 .portfolio-item:hover .overlay {
    background: rgba(0, 0, 0, 0.8);
}
#portfolio-v2 .portfolio-item:hover .folio-item-cell {
    left: 0;
}
#portfolio-v2 .portfolio-item:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/**
 * responsive:
 * portfolio
 * -------------------------------------------------------------------
 */
@media only screen and (max-width:1024px) {
    #portfolio .folio-title {
        font-size: 3.1rem;
    }
}
@media only screen and (max-width:768px) {
    #portfolio .folio-title {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width:400px) {
    #portfolio .folio-title {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px){
    .portfolio-container{
        flex-direction: column;
    }
    .portfolio-item{
        height: 300px !important;
    }
}

.portfolio-item:hover .item-overlay{
    opacity: 1; }